<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Day17.TestNG1.class1"/>
      <class name="Day17.TestNG1.class2"/>
    </classes>
  </test>
  
  <test thread-count="5" name="Test1">
    <classes>
      <class name="Day17.TestNG1.class1"/>
      <class name="Day17.TestNG1.class2"/>
    </classes>
  </test> 
</suite> 
